.header {
  position: fixed;
  top: 0;
  background-color: #000000;
  width: 100%;
  color: white;
  font-weight: 700;
  font-size: 18px;
  z-index: 10;
}

.headerContainer {
  height: 48px;
  padding-inline: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 71px;
  height: 24px;
}

.navigationItems {
  display: flex;
  gap: 25px;
}

.navigationItems > * {
  display: none;
}

.burgerMenu {
  display: block;
}


@media screen and (min-width: 768px) {
  .headerContainer {
    height: 80px;
    padding-inline: 30px;
  }

  .navigationItems > * {
    display: block;
    cursor: pointer;

    &:hover {
      background: linear-gradient(90deg, #EBFF00, #FF70D9, #EBFF00) 0 0 / 400% 100%;
      animation: move-bg 3s linear infinite;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .burgerMenu {
    display: none;
  }

  @keyframes move-bg {
    to {
      background-position: 400% 0;
    }
  }
}

@media screen and (min-width: 1248px) {
  .headerContainer {
    padding-inline: 80px;
    max-width: 1088px;
    margin: 0 auto;
  }

  .logo {
    width: 104px;
    height: 35px;
  }
}
