.Button {
  cursor: pointer;
  border-radius: 100px;
  width: fit-content;
  padding: 7px 40px;
  font-size: 16px;
  font-weight: 700;

  &:hover {
    opacity: .6;
  }
}

.Button[data-variant="primary"] {
  background: #EBFF00;
  color: #000;
}

.Button[data-variant="secondary"] {
  color: #EBFF00;
  border: 2px solid #EBFF00;
  background: transparent;
}

@media screen and (min-width: 768px) {
  .Button[data-variant="primary"] {
    padding: 14px 40px;
    font-size: 22px;
  }
}

@media screen and (min-width: 1248px) {
  .Button[data-variant="secondary"] {
    padding: 14px 40px;
    font-size: 22px;
  }
}
