@font-face {
  font-family: 'Lato';
  src: url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
  font-weight: 700;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-color: #000000;
}
